.cesta-container {
    padding: 20px;
    background-color: #333;
    color: #ffcc00;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.productos-cesta {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.producto-cesta {
    border: 1px solid #ffcc00;
    padding: 10px;
    background-color: #222;
    color: #fff;
    text-align: center;
}

.producto-cesta-imagen {
    max-width: 100%;
    height: 50%;
}

.producto-cesta-nombre {
    font-size: 16px;
    margin: 10px 0;
    height: 50px;
}

.producto-cesta-precio {
    font-size: 14px;
    color: #ccc;
}

.producto-cantidad {
    width: 50px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.producto-cesta-boton {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.producto-cesta-boton:hover {
    background-color: red;
}

.boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.realizar-pedido-boton {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    align-self: center; /* Centra el botón horizontalmente */
}

.realizar-pedido-boton:hover {
    background-color: #e6b800;
}

/* Media Queries */
@media (max-width: 768px) {
  .cesta-container {
    padding: 15px;
    height: auto;
  }

  .productos-cesta {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .producto-cesta-nombre {
      font-size: 14px;
  }

  .producto-cesta-precio {
      font-size: 12px;
  }
}

@media (max-width: 480px) {
  .cesta-container {
    padding: 10px;
    height: auto;
  }

  .productos-cesta {
      grid-template-columns: 1fr;
  }

  .producto-cesta {
      padding: 8px;
  }

  .producto-cesta-nombre {
      font-size: 12px;
  }

  .producto-cesta-precio {
      font-size: 10px;
  }

  .realizar-pedido-boton {
      padding: 10px 15px;
      font-size: 14px;
      margin-bottom: 40px;
  }
}