.directiva-container {
  text-align: center;
  background-color: #333;
  color: #ffcc00;
  padding: 20px;
  height: 100%;
}

.directiva-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}
