.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado a flex-start para alinear al inicio */
    height: 100vh;
    background-image: url('../../assets/images/fondos/contact-fondo.webp');
    background-size: cover;
    background-position: center;
    padding-top: 0; /* Asegúrate de que no haya padding superior */
    margin-top: 0; /* Asegúrate de que no haya margen superior */
}

  