.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
  }
  
  .registro-form {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px; 
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
  }
  
  .registro-form h2 {
    color: #ffcc00;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .registro-form label {
    color: #ffcc00;
    margin-bottom: 5px;
    display: block;
  }
  
  .registro-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
  }
  
  .registro-form button {
    width: 97%;
    padding: 10px;
    background-color: #ffcc00;
    color: #333;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .registro-form button:hover {
    background-color: #e6b800;
  }