.seccion-contenido-container {
  text-align: center;
  background-color: #333;
  color: #ff0;
  padding: 20px;
  height: 100%;
}

.seccion-contenido-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}
